---
import { getCollection } from 'astro:content'

import Document from '../../layouts/Document.astro'

let posts = await getCollection('posts')
posts = posts.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<Document title="Christian Peterson | Blog">
    <h1 class="text-4xl font-bold pb-4">blog</h1>
    <ul class="list-none">
        {
            posts &&
                posts.map((post) => {
                    const {
                        slug,
                        data: { title, description, pubDate },
                    } = post
                    const href = `/blog/${slug}`

                    return (
                        <li class="text-xl pb-4">
                            <a
                                class="decoration-[var(--link-main-color)] underline-offset-[0.3ex] decoration-[0.3ex] underline"
                                href={href}
                                data-astro-prefetch>
                                {title}
                            </a>
                            <time
                                class="italic text-[var(--text-color)] whitespace-nowrap"
                                datetime={pubDate.toISOString()}>
                                {pubDate.toLocaleDateString('en-US', {
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric',
                                })}
                            </time>
                            <br />
                            <p>{description}</p>
                        </li>
                    )
                })
        }
    </ul>
</Document>
